.main {
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.post_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.post_form .form_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    position: relative;
}

.post_form .form_section :is(input, textarea) {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.post_form .form_section :is(input, textarea):focus {
    border-color: #005792;
    outline: none;
}

.post_form .form_section_h {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    position: relative;
}

.post_form .form_section_h input {
    width: fit-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.dropdown {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.dropdown_item {
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.dropdown_item:hover {
    background-color: #005792;
    color: white;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #005792;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.field_error_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}

.field_error_list .field_error {
    color: red;
    font-size: 14px;
}